

<div id="wrapper">
  <h1>Science News Scraper</h1>
  <h2><i>Science news daily headlines and links. Click on headline and leave a comment.</i></h2>
  
  <ul>
    {{#each.result}}
    <li>{{articles}}</li>
    <li>{{notes}}</li>
    {{/each}}
  </ul>

  
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="app.js"></script>
